.ship-form-container {
  display: flex;
  flex-direction: column;
}

.ship-form-container > .MuiFormControl-root,
.ship-form-container > .MuiButtonBase-root,
.ship-form-container > .MuiMasonry-parent,
.ship-form-container > .w-color-circle {
  margin: 1rem;
}

.ship-form-container > svg {
  width: 200px;
  height: auto;
  margin: 20px;
}

.ship-selected {
  background-color: #fff3;
}

.ship-unselected {
  opacity: 0.4;
}