.hex-cell {
  /* transition: visibility 0s, opacity 0.5s linear; */
  transition: all 0.5s;
}

.hex-cell:hover {
  fill: #61dafb99;
}

.hex-cell-ship:hover .ship-menu {
  display: inline !important;
  fill: #61dafb99;
}

.hex-cell-ship:hover .ship-menu path {
  fill: #26515e99;
}

.hex-cell text {
  user-select: none;
  pointer-events: none;
}

.ship-menu {
  display: none;
}