.hexmap {
  fill: #282c3435;
  stroke: #61DAFB;
  stroke-width: 0.03px;
}

.hexbutton {
  fill: #61dafb33;
  stroke: none;
}

.hexbutton:hover {
  fill: #61dafb99;
}

.hexcell {
  fill: none;
}

.hexcell .cross {
  fill: #F44E3B;
  stroke: none;
}

.hexcell text {
  user-select: none;
  pointer-events: none;
  fill: #F44E3B;
  text-anchor: middle;
  stroke: none;
  font-size: 0.5pt;
}
