.hexmap {
  fill: #e0e0e0;
  stroke: #000000;
  stroke-width: 0.03px;
}

.hexbutton {
  fill: #61dafb00;
  stroke: none;
}

.hexbutton:hover {
  fill: #61dafb99;
}

.hexbuttonmove {
  fill: #61dafb00;
}

.hexbuttonmove:hover {
  fill: #61dafb99;
}

.hexcell .cross {
  fill: #F44E3B;
  stroke: none;
}

.hexbutton text {
  user-select: none;
  pointer-events: none;
  text-anchor: middle;
  stroke: none;
  font-size: 0.4pt;
  font-family: "Agency FB";
}
.hexcell text {
  user-select: none;
  pointer-events: none;
  text-anchor: middle;
  stroke: none;
  font-size: 0.5pt;
  font-weight: bold;
}