.ship-form-container {
  display: flex;
  flex-direction: column;
}

.ship-form-container > .MuiFormControl-root,
.ship-form-container > .MuiButtonBase-root,
.ship-form-container > .w-color-circle {
  margin: 1rem;
}